<div id="map">
  <img id="korea" src="../r/map.png"/>
  
    <a href="./ns" id="ds"><img id="ds" src="../r/map-ds.png"/></a>
    <a href="./gn" id="gn"><img id="ds" src="../r/map-gn.png"/></a>
    <a href="./ns" id="ns"><img id="ds" src="../r/map-ns.png"/></a>
    <a href="./jb" id="jb"><img id="ds" src="../r/map-jb.png"/></a>
    <a href="./gj" id="gj"><img id="ds" src="../r/map-gj.png"/></a>
    <a href="./dg" id="dg"><img id="ds" src="../r/map-dg.png"/></a>
    <a href="./bs" id="bs"><img id="ds" src="../r/map-bs.png"/></a>

</div>
